DATABASE_URL=postgres:///glossary-bot
SLACK_TOKEN=<replace with a Slash Command integration token https://api.slack.com/slash-commands>
SLACK_WEBHOOK_URL=<replace with an Incoming Webhook integration URL https://api.slack.com/incoming-webhooks>
